<div class="form-container">
  @if (!showVerification) {
  <h1 class="form-title">Register</h1>

  <form [formGroup]="registerForm" (ngSubmit)="submitRegister()" 
        class="register-form">

    <div class="row-group">
      <div class="input-group">
        <label>First name<span class="asterisk">*</span></label>
        <input type="text" formControlName="firstName" />
        
        @if (getControl('register', 'firstName')?.touched) {
          @if (getControl('register', 'firstName')?.hasError('required')) {
            <span class="error-msg">This is a required question</span>
          }
          @if (getControl('register', 'firstName')?.hasError('whitespace')) {
            <span class="error-msg">Cannot contain only spaces</span>
          }
        }
      </div>

      <div class="input-group">
        <label>Last name<span class="asterisk">*</span></label>
        <input type="text" formControlName="lastName" />

        @if (getControl('register', 'lastName')?.touched) {
          @if (getControl('register', 'lastName')?.hasError('required')) {
            <span class="error-msg">This is a required question</span>
          }
          @if (getControl('register', 'lastName')?.hasError('whitespace')) {
            <span class="error-msg">Cannot contain only spaces</span>
          }
        }
      </div>
    </div>

    <div class="row-group">
      <div class="input-group">
        <label>Program <span class="optional-text">(student only)</span></label>
        
        <div class="custom-select" (click)="toggleProgram($event)">
          <div class="select-trigger">
            <span>{{ getSelectedProgramDisplay() }}</span>
            <span class="dropdown-arrow" 
                  [class.open]="isProgramOpen()">▾</span>
          </div>

          @if (isProgramOpen()) {
            <div class="options-container">
              <div class="custom-option" (click)="selectProgram(null)">
                <div class="option-main">Select Program...</div>
              </div>
              @for (prog of programs(); track prog.programId) {
                <div class="custom-option" 
                     (click)="selectProgram(prog.programId)"
                     [class.selected]="getControl('register', 'programId')
                         ?.value === prog.programId">
                  <div class="option-main">{{ prog.programCode }}</div>
                  <div class="option-sub">{{ prog.programName }}</div>
                </div>
              }
            </div>
          }
        </div>
      </div>

      <div class="input-group">
        <label>Year <span class="optional-text">(student only)</span></label>
        
        <div class="custom-select" (click)="toggleYear($event)">
          <div class="select-trigger">
            <span>{{ getSelectedYearDisplay() }}</span>
            <span class="dropdown-arrow" 
                  [class.open]="isYearOpen()">▾</span>
          </div>

          @if (isYearOpen()) {
            <div class="options-container">
              <div class="custom-option" (click)="selectYear(null)">
                <div class="option-main">Select Year...</div>
              </div>
              @for (yr of years; track yr) {
                <div class="custom-option" 
                     (click)="selectYear(yr)"
                     [class.selected]="getControl('register', 'year')
                         ?.value === yr">
                  <div class="option-main">{{ yr }}</div>
                </div>
              }
            </div>
          }
        </div>
      </div>
    </div>

    @if (registerForm.hasError('dependencyError') && 
        (getControl('register', 'programId')?.touched || 
         getControl('register', 'year')?.touched)) {
      <span class="error-msg" style="margin-top: -10px; margin-bottom: 10px;">
        Program and Year must be selected together, or both left blank.
      </span>
    }

    <div class="input-group">
      <label>Email<span class="asterisk">*</span></label>
      <input 
        type="email"
        formControlName="email"
        placeholder="example@gmail.com" />
      
      @if (getControl('register', 'email')?.touched) {
        @if (getControl('register', 'email')?.hasError('required')) {
          <span class="error-msg">This is a required question</span>
        }
        @if (getControl('register', 'email')?.hasError('email')) {
          <span class="error-msg">Please enter a valid email format</span>
        }
        @if (getControl('register', 'email')?.hasError('notUnique')) {
          <span class="error-msg">This email is already registered</span>
        }
      }
    </div>

    <div class="input-group">
      <label>Password<span class="asterisk">*</span></label>
      <div class="password-wrapper">
        <input 
          [type]="hidePassword() ? 'password' : 'text'"
          formControlName="password"
          (focus)="onPasswordFocus()"
          (blur)="onPasswordBlur()" />
        <button 
          type="button"
          class="toggle-btn" 
          (click)="togglePasswordVisibility('password')">
          <img [src]="getIconSrc(hidePassword())" class="toggle-icon" />
        </button>
      </div>

      @if (getControl('register', 'password')?.touched) {
        @if (getControl('register', 'password')?.hasError('required')) {
        <span class="error-msg">This is a required question</span>
        }
        @if (getControl('register', 'password')?.hasError('minlength')) {
        <span class="error-msg">Must be at least 8 characters</span>
        }
      }

      @if (passwordStrength() !== 'none' &&
        getControl('register', 'password')?.value &&
        isPasswordFocused()) {
      <div class="strength-meter">
        <span class="strength-text">Strength:</span>
        <div class="strength-bar-container">
          <div class="strength-bar" [ngClass]="passwordStrength()"></div>
        </div>
        <span class="strength-label" [ngClass]="passwordStrength()">
          {{ passwordStrength() }}
        </span>
      </div>
      }

      @if (getControl('register', 'password')?.value &&
           getControl('register', 'password')?.errors?.['passwordStrength']) {
        <div class="custom-error-text error-msg">
          @if (getControl('register', 'password')?.errors?.['passwordStrength']?.hasNumber){
            <span>• Must contain at least one number.</span>
          }
          @if (getControl('register', 'password')?.errors?.['passwordStrength']?.hasSpecialChar) {
            <span>• Must contain at least one special character.</span>
          }
        </div>
      }
    </div>

    <div class="input-group">
      <label>Confirm Password<span class="asterisk">*</span></label>
      <div class="password-wrapper">
        <input
          [type]="hideConfirmPassword() ? 'password' : 'text'" 
          formControlName="confirmPassword" />
        <button
          type="button" 
          class="toggle-btn" 
          (click)="togglePasswordVisibility('confirm')">
          <img [src]="getIconSrc(hideConfirmPassword())" class="toggle-icon" />
        </button>
      </div>
      @if (getControl('register', 'confirmPassword')?.touched) {
        @if (getControl('register', 'confirmPassword')?.hasError('required')) {
        <span class="error-msg">This is a required question</span>
        }

        @if (getControl('register', 'confirmPassword')?.hasError('mismatch') && 
            (getControl('register', 'confirmPassword')?.dirty || 
             getControl('register', 'confirmPassword')?.touched)) {
          <span class="error-msg">Passwords do not match</span>
        }
      }
    </div>

    <button type="submit" class="submit-btn" 
            [disabled]="registerForm.invalid || isSubmitting">
      {{ isSubmitting ? 'REGISTERING...' : 'REGISTER' }}
    </button>

    @if (errorMessage) { <div class="error-banner">{{ errorMessage }}</div> }
  </form>
  }
</div>