<div class="form-container">
  <h1 class="form-title">Register</h1>

  <form 
    [formGroup]="registerForm" 
    (ngSubmit)="submitForm()" 
    class="register-form">
    
    <div class="row-group">
      <div class="input-group">
        <label>First name<span class="asterisk">*</span></label>
        <input type="text" formControlName="firstName" />
        @if (getControl('firstName')?.touched && 
             getControl('firstName')?.hasError('required')) {
          <span class="error-msg">This is a required question</span>
        }
      </div>
      <div class="input-group">
        <label>Last name<span class="asterisk">*</span></label>
        <input type="text" formControlName="lastName" />
        @if (getControl('lastName')?.touched && 
             getControl('lastName')?.hasError('required')) {
          <span class="error-msg">This is a required question</span>
        }
      </div>
    </div>

    <div class="row-group">
      <div class="input-group">
      <label>Program <span class="optional-text">(student only)</span></label>
      <select formControlName="programId">
          <option [value]="null" disabled selected hidden>Select Program</option>
          @for (prog of programs(); track prog.programId) {
          <option [value]="prog.programId">
              {{ prog.programCode }}
          </option>
          }
      </select>
      </div>
      <div class="input-group">
        <label>Year <span class="optional-text">(student only)</span></label>
        <select formControlName="year">
          <option value="" disabled selected hidden>Select Year</option>
          @for (yr of years; track yr) {
            <option [value]="yr">{{ yr }}</option>
          }
        </select>
      </div>
    </div>

    <div class="input-group">
      <label>Email<span class="asterisk">*</span></label>
      <input type="email" formControlName="email" />
      @if (getControl('email')?.touched && 
           getControl('email')?.hasError('required')) {
        <span class="error-msg">This is a required question</span>
      }
      @if (getControl('email')?.touched && 
           getControl('email')?.hasError('email')) {
        <span class="error-msg">Please enter a valid email format</span>
      }
    </div>

    <div class="input-group">
      <label>Password<span class="asterisk">*</span></label>
      <div class="password-wrapper">
        <input 
          [type]="hidePassword() ? 'password' : 'text'" 
          formControlName="password"
          (focus)="onPasswordFocus()"
          (blur)="onPasswordBlur()" />
        <button 
          type="button" 
          class="toggle-btn" 
          (click)="togglePasswordVisibility('password')">
          <img [src]="getIconSrc(hidePassword())" class="toggle-icon" />
        </button>
      </div>
      
      @if (getControl('password')?.hasError('required') && 
           getControl('password')?.touched) {
        <span class="error-msg">This is a required question</span>
      }
      @if (getControl('password')?.hasError('minlength') && 
           getControl('password')?.touched) {
        <span class="error-msg">Must be at least 8 characters</span>
      }

      @if (passwordStrength() !== 'none' && 
           getControl('password')?.value &&
           isPasswordFocused()) {
        <div class="strength-meter">
          <span class="strength-text">Strength:</span>
          <div class="strength-bar-container">
            <div class="strength-bar" 
              [ngClass]="passwordStrength()">
            </div>
          </div>
          <span class="strength-label" 
            [ngClass]="passwordStrength()">
            {{ passwordStrength() }}
          </span>
        </div>
      }

      @if (isPasswordFocused() && 
           getControl('password')?.value &&
           getControl('password')?.errors?.['passwordStrength']) {
        <div class="custom-error-text error-msg">
          @if (getControl('password')?.errors?.['passwordStrength']?.hasNumber){
            <span>• Must contain at least one number.</span>
          }
          @if (getControl('password')?.errors?.
                ['passwordStrength']?.hasSpecialChar) {
            <span>• Must contain at least one special character.</span>
          }
        </div>
      }
    </div>

    <div class="input-group">
      <label>Confirm Password<span class="asterisk">*</span></label>
      <div class="password-wrapper">
        <input 
          [type]="hideConfirmPassword() ? 'password' : 'text'" 
          formControlName="confirmPassword" />
        <button 
          type="button" 
          class="toggle-btn" 
          (click)="togglePasswordVisibility('confirm')">
          <img [src]="getIconSrc(hideConfirmPassword())" class="toggle-icon" />
        </button>
      </div>
      
      @if (getControl('confirmPassword')?.hasError('required') && 
           getControl('confirmPassword')?.touched) {
        <span class="error-msg">This is a required question</span>
      }
      @if (getControl('confirmPassword')?.hasError('mismatch') && 
           getControl('confirmPassword')?.touched) {
        <span class="error-msg">Passwords do not match</span>
      }
    </div>

    <button 
      type="submit" 
      class="submit-btn" 
      [disabled]="registerForm.invalid || isSubmitting">
      @if (isSubmitting) {
        REGISTERING...
      } @else {
        REGISTER
      }
    </button>

    @if (errorMessage) {
      <div class="error-banner">
        {{ errorMessage }}
      </div>
    }
    
  </form>
</div>