<header class="app-header" 
        [class.mobile-auth-header]="showMenuButton" 
        [class.scrolled]="isScrolled">
  
  <div class="logo-container">
    @if (showMenuButton) {
      <button
          mat-icon-button
          class="menu-btn"
          (click)="toggleMenu()"
          aria-label="Toggle navigation">
        <mat-icon>menu</mat-icon>
      </button>
    }

    <div
        class="branding"
        (click)="onLogoClick()"
        role="button"
        tabindex="0"
        (keydown.enter)="onLogoClick()">
      <img src="assets/temp_logo.png" class="app-logo" alt="Logo">
      <span class="app-name">PUP•RECOVER</span> 
    </div>
  </div>

  @if (showButtons) {
    <nav class="public-nav-links">
      <a (click)="onNavClick('features')" class="nav-item">The Features</a>
            <a (click)="onNavClick('how-it-works')" class="nav-item">How it Works</a>
      <a (click)="onNavClick('about-us')" class="nav-item">Who We Are</a>
    </nav>

    <div class="auth-buttons">
      <a routerLink="/login" class="btn login-btn">Sign In</a>
      <a routerLink="/register" class="btn register-btn">Register</a>
    </div>
  }

</header>