:host {
  display: block; 
  width: 100%;
  height: 100%;

  .report-btn,
  .report-btn * {
    box-sizing: border-box;
  }

  .report-btn {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    
    transition: all 0.2s ease-in-out; 

    .report-label {
      font-family: "SourceSansPro-Bold", sans-serif;
      font-size: 17px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.6px;
      text-align: center;
      position: absolute;
      right: 0%;
      left: 0%;
      width: 100%;
      top: 50%;
      translate: 0 -50%;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    }

    &.lost {
      background: var(--color-red, #f74d4d);

      .report-label {
        color: #ffffff;
      }

      &:hover {
        background: #c33838;
      }
    }

    &.found {
      background: #ffffff;

      .report-label {
        color: #f74d4d;
      }

      &:hover {
        background: #d5d5d5;
      }
    }
  }
}