.hero,
.hero * {
  box-sizing: border-box;
}
.hero {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}
.bg {
  width: 100%;
  height: calc(40rem + 223.5px);
  position: static;
}
.bg2 {
  background: linear-gradient(
    239.17deg,
    rgba(219, 19, 42, 1) 0%,
    rgba(173, 17, 17, 1) 39.41061794757843%,
    rgba(117, 12, 12, 1) 100%
  );
  width: 100%;
  height: calc(40rem + 223.5px);
  position: absolute;
  left: 0px;
  top: 0px;
}
.bg3 {
  background: linear-gradient(
    225.17deg,
    rgba(173, 17, 17, 1) 0%,
    rgba(117, 12, 12, 1) 39.41061794757843%,
    rgba(74, 11, 11, 1) 100%
  );
  width: 100%;
  height: calc(40rem + 223.5px);
  position: absolute;
  left: 0px;
  top: 0px;
}
.dots {
  width: 122.7px;
  height: 111.56px;
  position: absolute;
  left: 1222px;
  top: 181.44px;
  overflow: visible;
}
.oval {
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.04;
  width: 1151px;
  height: 1151px;
  position: absolute;
  left: -880px;
  top: -733px;
}
.oval-copy {
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.05;
  width: 1645px;
  height: 1644px;
  position: absolute;
  left: -1137px;
  top: -999.5px;
}
.oval-copy-2 {
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.05;
  width: 2243px;
  height: 2242px;
  position: absolute;
  left: -1467px;
  top: -1318px;
}
.wave {
  width: 100%;
  height: 223.5px;
  position: absolute;
  left: 0px;
  top: 42rem;
  overflow: hidden;
}
.content {
  width: 536.71px;
  height: 410px;
  position: static;
}
.top {
  width: 536.71px;
  height: 410px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 10rem;
  overflow: hidden;
}
.manage-your-remote-t {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Light", sans-serif;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: -2px;
  font-weight: 300;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: calc(50% - 140px);
}
.with-lots-of-unique {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.2px;
  font-weight: 400;
  opacity: 0.65;
  position: absolute;
  right: 7.58%;
  left: 0%;
  width: 92.42%;
  bottom: 21.74%;
  top: 41.16%;
  height: 37.1%;
}

.browse-items-here {
  color: #ffffff;
  text-align: left;
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: -0.2px;
  font-weight: 400;
  opacity: 0.65;
  position: absolute;
  left: 204px;
  top: 300px;
}

app-report-button[theme="lost"] {
  width: 195px;
  height: 57.74px;
  position: absolute;
  left: calc(50% - 216.35px);
  top: calc(50% - -138.45px);
}

app-report-button[theme="found"] {
  width: 195px;
  height: 57.74px;
  position: absolute;
  left: calc(50% - 0.35px);
  top: calc(50% - -138.45px);
}